[package]
name = "ems-telemetry"
version = "0.1.0"
edition = "2024"
rust-version = "1.92.0"
publish = false

[dependencies]
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }
